# Dependências e caches
/node_modules
/node_modules/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Pasta de build do Vite (gerada)
/dist
/build

# Cache e logs do Vite
.vite/
vite-log.json

# Outros arquivos temporários
.env
.env.local
.cache